/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/02/2020, 21:18:48
    Author     : juliano.scastro
   
p {
    background-color: red;
    height: 300px;
    width: 300px;
}
*/

p{


}

h1{
    font-family: serif;
}

h2{
    font-family: sans-serif;
}